* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.header {     
    box-shadow: 0px 12px 18px -20px #617964;
}
.header-content {
    max-width: 1440px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    height: 80px;
    margin: 0 auto;
}
.header-logo img {
    width: 100px;
    height: 50px;
}
.header-user {
    display: flex;   
    align-items: center;
    padding-right: 20px;
    border-left: 1px solid #EBEBF1;
    height: 85px;
}
.header-user__img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-user__name {
    margin: 0px 25px;        
}
.header-user__name {
    color: #768298;
}
.main-content {
    max-width: inherit;
    display: flex;
    flex-wrap: wrap;
}
h1 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.main-content__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border: solid 1px #dfdada;
    border-radius: 8px;
    margin: 0px 30px 30px 0px;
    cursor: pointer;
}
.main-content__item:hover {
   box-shadow: 0px 0px 15px -1px rgba(164, 164, 164, 0.3);
}

.main-content__item img {
    width: 116px;
    height: 64px;    
}


input {
    height: 40px;
    width: 763px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #EBEBF1;
    color: #BBC4D6;
  }
  
  i.fa {
    width: 26px;
    height: 26px;
    line-height: 20px;
    text-align: center;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: left;
    color: #768298;
    top: 10px;
  }
  
  i.fa + input {
    padding-left: 26px;
  }

